.conteudo-container-senha {
    display: flex;
    align-items: center;
    min-height: 80vh;
}
.div-esquerda {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.div-meio {
    background-color: #fff;
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-direita {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.div-senha-super {
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}

.div-senha {
    background-color: #e96a7e;
    border-radius: 35px;
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:10px;
    margin-bottom: 10px;
}

.p-senha {
    color: #fff;
}

.botao {
    border-radius: 35px;
    height: 120px;
    width: 180px;
    cursor: pointer;
    background-color: #d5d5d5;
    border: none;
    font-size:20px;
}

.botao:hover{
    width: 185px;
    height: 125px;
    opacity: 60%;
}
